/* Body */
body {
    font-family: "Roboto", Arila, Verdana, Helvetica, sans-serif;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

/* Typography */
.page-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Roboto", Arial, sans-serif;
}

/* Sections */
.header, 
    .main {
    max-width: 100vw;
}

.main {
    background-color: #FBFBFB;
}

.header {
    height: 30vh;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.container {
    width: min(1320px, 100%);
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}

.card-group {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.card {
    background-color: white;
}

.books {
    text-align: center;
}